*{
  margin: 0;
  padding: 0;
  list-style:none;
  font-family: Be Vietnam;
}

.encabezado {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
  
    flex: 33%; 
    margin-top: 65px;
    text-align: center;
  

}

.menu{
    
    flex:33%;
    text-align: center;
    margin-top: 65px;
}

.encabezado .hambur{

    display: none;
}

.botonstarted{

    flex:33%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    margin-top: 65px;

}

nav ul li{

    display: inline;
    margin:5px;
}

.articulo1{

    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.articulotitulo{

    flex: 50%;
    text-align: left;
    justify-content: center;

}

.articulotitulo__{

    width: 500px;

}

.cajaarticulo{

    width:340px;
    padding-top: 35px;
    padding-bottom: 25px ;
}

.pregunta h2{
    width:433px;
}

.articuloimg{

    flex:50%;

}

.articulo2{

    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-top: 150px;

}

.pregunta{

    flex: 50%;
    align-items: center;

}

.respuestas3{

    flex:50%;
    position: relative;

}

.articulo3{
    width: 80%;
    text-align: center;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;

}

.testimonios{

    display: flex;
    flex-wrap: wrap;

}

.testimonio__{
    flex:33%;
    position: relative;
}


.articulo4{ 
    width:100%;
    height:224px;
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#F3603B;
    align-items: center;  
}

.pie{
    display: flex;
    flex-wrap: wrap;
}

.p1{
    flex: 33%;
}

.testimonio__:hover{
    
    transform:scale(1.1);
    transition: 1s;
    z-index: 1;
    

}
.p2{
    flex:33%;
 
}

.p3{

    flex:33%;
}

li:hover{

    color:#F3603B;


}
.p2 ul{

    display: inline-block;
    text-align:center;
    padding-right: 100px;
}

.gs{

    background-color: #F3603B;
    border:none;
    border-radius: 50px;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    height: 44px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.gs2{

    background-color: #FFFFFF;
    border:none;
    border-radius: 50px;
    width: 134px;
    height: 44px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #F3603B;
}

.gs:hover{

     background-color: #FFFFFF;
     color: #F3603B;
     transition: 1s;

}

.gs2:hover{
    background-color: #F3603B;
     color: #FFFFFF;
     transition: 1s;
}

h1 {

    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 66px;

}

h1 h2{

    font-weight:700;

   }

h2{
    font-size: 36px;
}
.numeros{
    font-size:15px;
    display: inline-block;
    background-color: #F3603B;
    border-radius: 50px;
    border-style: none;
    width: 62px;
    height: 40px;
    color:#FFFFFF;
    text-align: center;
    position: absolute;
    padding-top: 7px;
    left: 0px;
    margin-right:5px;
}

.respuestas{

    padding-left: 17%;

}

.avatar{

    position:absolute;
    top: -230px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
    max-width: 110px;
    min-width: 110px;

}

.articulo3 h2{

    height:100px;
    padding-bottom: 40px;
}


.testimonio__1{

    background-color: #FAFAFA;
    width:98%;
    height:170px;
    padding-top:50px;
    margin-top: 100px;
    margin-bottom: 50px;

   }

.testimonio__1:hover{

    background-color: #F3603B;
    transition:2s;
   

}

.articulo4 h2{
    
    color:#FAFAFA;

}

footer{
    height: 247px;
    width: 100%;
    color: #FAFAFA;
    background-color: #1E1E26;
    align-items: center;
    text-align: center;
}

.pie .p1 ul li{
    display: inline-block;
    padding-top:50px;
    
}


.pie .p3 p{
    color:#8C8C94;
    font-weight: 500;
    font-size: 12.5px;
    margin-top: 50px;
    
}

.p3 input{
    border-radius: 50px;
    padding:10px;
}




@media(max-width: 375px){

 
    #botonnm{
        display: none;
    }
    .menu{

        display: none;
    }

    .encabezado .hambur{    

        display: block;
        position: absolute;
        right: 40px;
        margin-top: 30px;
    }

    .articulotitulo__{

        text-align: center;
    }
    .articulo1{
        flex-direction: column-reverse;

    }

    .articulo3 h2{

        padding-top:10px;
    }


    .cajaarticulo{

        width: auto;
    }

  
    .articulo2 .pregunta{

        text-align: center;
        
    }
    h1{

        font-size: 25px;

    }

    h2{
        font-size: 20px;
    }
    .pregunta h2{
        width:auto;
    }
    h3{
        font-size:17px ;
    }

    
    .articulotitulo__{

        width: 100%;

    }
    p{
        font-size: 15px;
    }
    
    .grafico{
        max-width: 100%;
        min-width: 100%;
    }

    .articuloimg{
        flex:100%;
    }

    .testimonio__{
        flex:100%;
    }
   
    .respuestas3{
        margin-top: 20px;
        flex:100%;
    }
    .numeros{
        font-size:10px;
        width:47px;
        height:24px;
        
    }
    .articulotitulo{
        text-align: center;
    }

    .articulo4{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
        height: auto;
    }
    
    .p1{
        padding-top:50px;
    }
    .nomostrar{
        display: none;
    }

    footer{
    
        flex-direction: column-reverse;
    }

    .p1 ul li{

        margin-right:20px;
        padding-bottom: 30px;
    }

    .p2 ul{
        padding: 20px;
        margin-top: 10px;
    }
    .p3{
        padding-top: 30px;
    }
    
    }